:root{
  --new-div-width:5px;
   --new-div-height:5px;
}

.header{
  width:100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#generate{
  margin: auto;
  width: 25%;
  height: 25%;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.newDiv{
  border: 1px solid rgb(231, 225, 225);
  width: var(--new-div-width);
  height: var(--new-div-height);
  background-color: white;
}

.activated{
  background-color: red;
  border: 1px solid red;
}